<h1>Signup!</h1>

<div class="ui four column grid">
  <div class="column">
    <div class="ui form">
      <%= simple_form_for @user do |f| %>
        <%= f.input :email, class: 'field' %>
        <%= f.input :phone, class: 'field' %>
				<%= f.input :password, class: 'field' %>
				<%= f.input :password_confirmation, class: 'field' %>
        <%= f.button :submit, class: 'ui button' %>
      <% end %>
    </div>
  </div>
</div>
