<%= form_for(@check_out) do |f| %>
  <% if @check_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_out.errors.count, "error") %> prohibited this check_out from being saved:</h2>

      <ul>
      <% @check_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id, place_holder: params[:item_id] %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select(:user_id, User.all.collect{|user| [user.email, user.id]}, {prompt: 'Select User'}, {class: 'select-user'}) %>
  </div>
  <div class="field">
    <%= f.label :check_out_date %><br>
    <%= f.datetime_select :check_out_date %>
  </div>
  <div class="field">
    <%= f.label :return_date %><br>
    <%= f.text_field :return_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
