<div class="ui four column grid">
  <div class="ui column">
    <div class="ui form">
      <%= simple_form_for(@check_out) do |f| %>
        <%= f.text_field :item_id, value: params[:item_id], required: true, class: 'field' %>
        <%= f.select(:user_id, User.all.collect{|user| [user.email, user.id]}, {prompt: 'Select User'}, {class: 'select-user field'}) %>
        <%= f.input :check_out_date, as: :hidden %>
        <%= f.text_field :return_date, required: true %>
        <%= f.button :submit, class: 'ui button' %>
      <% end %>
    </div>
  </div>
</div>
